<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Fondamento&family=Galada&family=Open+Sans&family=Oswald:wght@300&family=Roboto:ital,wght@0,100;1,400&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="stylesheet" href="/public/css/about.css">

  <link href="/public/lib/css/font-awesome.min.css" rel="stylesheet">
  <link href="/public/lib/css/animate.min.css" rel="stylesheet">
  <link href="/public/lib/css/ionicons.min.css" rel="stylesheet">
  <link href="/public/lib/css/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/public/lib/css/lightbox.min.css" rel="stylesheet">

  <title>About Us </title>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">LocalIndiaShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item inactive">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item inactive">
          <a class="nav-link" href="products.html">Products</a>
        </li>
        <li class="nav-item inactive">
          <a class="nav-link" href="contact.html">Contact Us</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 mx-2">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
      </form>
      <form class="form-inline my-2 my-lg-0 mx-2">
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#loginModal"> Log In
        </button>
      </form>
      <form class="form-inline my-2 my-lg-0 mx-2">
        <a href="/signup.html">
          <button type="button" class="btn btn-outline-primary"> Sign Up </button>
        </a>
      </form>
      </form>
    </div>
  </nav>

  <!--login  modal -->
  <div class="modal fade" id="loginModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Enter Your Credentials</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="usernameModal">Username or Email address</label>
              <input type="text" class="form-control" id="usernameModal" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
              <label for="passwordModal">Password</label>
              <input type="password" class="form-control" id="passwordModal">
              <small id="passwordHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Remember Me</label>
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
          </form>
        </div>
      </div>
    </div>
  </div>  

    <section id="intro">
      <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
  
          <ol class="carousel-indicators"></ol>
  
          <div class="carousel-inner" role="listbox">
  
            <div class="carousel-item active">
              <div class="carousel-background"><img src="/public/img/intro-carousel/1.jpg" alt=""></div>
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2>We are Guiding</h2>
                  <p>We provide you the best possible solutions of your problem statements </p>
                  <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                </div>
              </div>
            </div>
  
            <div class="carousel-item">
              <div class="carousel-background"><img src="/public/img/intro-carousel/2.jpg" alt=""></div>
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2>We are hiring</h2>
                  <p>We are working as a startup and we require some persons who are carrying expertise in their domain for more details you can contact us</p>
                  <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                </div>
              </div>
            </div>
  
            <div class="carousel-item">
              <div class="carousel-background"><img src="/public/img/intro-carousel/3.jpg" alt=""></div>
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2>We are training</h2>
                  <p>We provide training to the students who participate in the various hackathons or projects</p>
                  <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                </div>
              </div>
          </div>
  
          <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
  
          <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
  
        </div>
      </div>
    </section>
  
    <main id="main">
      <section id="featured-services">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-4 box">
              <i class="ion-ios-bookmarks-outline"></i>
              <h4 class="title"><a href="">We provide resources</a></h4>
              <p class="description">We provide you the best ever reserch papers on various topics that are currently in buzz like Artificial Intelligence,Internet Of Things and many more</p>
            </div>
  
            <div class="col-lg-4 box box-bg">
              <i class="ion-ios-stopwatch-outline"></i>
              <h4 class="title"><a href="">We will provide you the best in less time</a></h4>
              <p class="description">Those students who want to excel in any technology in less time we provide crash courses too</p>
            </div>
  
     </section>
  
      <section id="about">
        <div class="container">
  
          <header class="section-header">
            <h3>About Us</h3>
            <p>Aztecs India is a company founded on 2nd January 2020 with a dream to make hands on project to promote innovation and enterpenureship qualities among the young budding minds</p>
          </header>
  
          <div class="row about-cols">
  
            <div class="col-md-4 wow fadeInUp">
              <div class="about-col">
                <div class="img">
                  <img src="/public/img/images.png" alt="" class="img-fluid">
                  <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                </div>
                <h2 class="title"><a href="#">Our Mission</a></h2>
                <p>
                  To solve the daily basis problems with the help of latest technology available in the world and provide a sustainable development enviroment to the country
               </p>
              </div>
            </div>
  
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
              <div class="about-col">
                <div class="img">
                  <img src="/public/img/about-plan.jpg" alt="" class="img-fluid">
                  <div class="icon"><i class="ion-ios-list-outline"></i></div>
                </div>
                <h2 class="title"><a href="#">Our Plan</a></h2>
                <p>
                   We try to make the future entrepreneur that will make india a developed nation and also focus on reserch and development so that innovation will make a drastic change in our country.
                </p>
              </div>
            </div>
      </section>
  
      <section id="facts"  class="wow fadeIn">
        <div class="container">
  
          <header class="section-header">
            <h3>Facts</h3>
            <p>We are growing very rapildly since we achieve all these figures just in one month and these facts work as a motivation for all of us </p>
          </header>
  
          <div class="row counters">
  
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">474</span>
              <p>Clients</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">145</span>
              <p>Projects</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">1,564</span>
              <p>Hours Of Support</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">18</span>
              <p>Active Cotributers</p>
            </div>
            </div>
      </section>
  
      <section id="portfolio"  class="section-bg" >
        <div class="container">
  
          <header class="section-header">
            <h3 class="section-title">Our Projects</h3>
          </header>
  
          <div class="row">
            <div class="col-lg-12">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-card">Card</li>
                <li data-filter=".filter-web">Web</li>
              </ul>
            </div>
          </div>
  
          <div class="row portfolio-container">
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
              <div class="portfolio-wrap">
                <figure>
                  <img src="/public/img/portfolio/app1.jpg" class="img-fluid" alt="">
                  <a href="/public/img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">App 1</a></h4>
                  <p>App</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="/public/img/portfolio/web3.jpg" class="img-fluid" alt="">
                  <a href="/public/img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">Web 3</a></h4>
                  <p>Web</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="/public/img/portfolio/app2.jpg" class="img-fluid" alt="">
                  <a href="/public/img/portfolio/app2.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">App 2</a></h4>
                  <p>App</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
              <div class="portfolio-wrap">
                <figure>
                  <img src="/public/img/portfolio/card2.jpg" class="img-fluid" alt="">
                  <a href="/public/img/portfolio/card2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">Card 2</a></h4>
                  <p>Card</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="/public/img/portfolio/web2.jpg" class="img-fluid" alt="">
                  <a href="/public/img/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">Web 2</a></h4>
                  <p>Web</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="/public/img/portfolio/app3.jpg" class="img-fluid" alt="">
                  <a href="/public/img/portfolio/app3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">App 3</a></h4>
                  <p>App</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
              <div class="portfolio-wrap">
                <figure>
                  <img src="/public/img/portfolio/card1.jpg" class="img-fluid" alt="">
                  <a href="/public/img/portfolio/card1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">Card 1</a></h4>
                  <p>Card</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="/public/img/portfolio/card3.jpg" class="img-fluid" alt="">
                  <a href="/public/img/portfolio/card3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">Card 3</a></h4>
                  <p>Card</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="public/img/portfolio/web1.jpg" class="img-fluid" alt="">
                  <a href="public/img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="#">Web 1</a></h4>
                  <p>Web</p>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- #portfolio -->
  </main>
  <section id="team">
    <div class="container">
      <div class="section-header wow fadeInUp">
        <h3>Team</h3>
        <p>The team of professionals always ready to help you</p>
      </div>
  
      <div class="row">
  
        <div class="col-lg-3 col-md-6 wow fadeInUp">
          <div class="member">
            <img src="/public/img/aman.jpeg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Aaman Singh Solanki</h4>
                <span>Founder</span>
                <div class="social">
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="member">
            <img src="" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Payal Singh</h4>
                <span>Chief Executive Officer</span>
                <div class="social">
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="linkedin"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
          <div class="member">
            <img src="/public/img/y.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Yogesh Gaur</h4>
                <span>CTO Hardware</span>
                <div class="social">
                  <a href="https://www.facebook.com/profile.php?id=100022189704235" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.twitter.com/imyogeshgaur" target="_break"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.linkedin.com/in/imyogeshgaur"target="_break"><i class="fa fa-linkedin"></i></a>
                  <a href="https://www.github.com/imyogeshgaur" target="_blank"><i class = "fa fa-github"></i></a>
                  <a href ="https://www.instagram.com/imyogeshgaur" target="_break"><i class ="fa fa-instagram"></i></a>  
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="member">
            <img src="/public/img/shrey.jpeg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Shrey Midha</h4>
                <span>CTO Software</span>
                <div class="social">
                  <a href="#" target="_break"><i class="fa fa-twitter"></i></a>
                  <a href="#" target="_break"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.linkedin.com/" target="_break"><i class="fa fa-linkedin"></i></a>
                  <a href ="#" target="_break"><i class ="fa fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
   
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="#about">About us</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="#portfolio">Projects</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="#team">Our Team</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contact Us</h4>
              <p>
                xxx<br>
                xxx<br>
                xxx<br>
                <br>
                <i class = "fa fa-phone"></i> &nbsp; +91-xxxx<br> &nbsp;<i class ="fa fa-phone"></i>&nbsp;+91-xxxx<br>
                <i class = "fa fa-envelope"></i> &nbsp;  info@aztecsindia.com<br>
              </p>
  
              <div class="social-links">
                <a href="https://twitter.com/aztecsindia" target="_yogesh"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/Aztecs-India-108083537404103" target="_yogesh"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/aztecsindia/" target="_yogesh"><i class="fa fa-instagram"></i></a>
                <a href="https://www.youtube.com/channel/UCjhJp5zrA_QRX3_ourgJxnQ" target="_yogesh"><i class="fa fa-youtube"></i></a>
              </div>
  
            </div>
          </div>
        </div>
      </div>
  
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>Aztecs India</strong>. All Rights Reserved
        </div>
        <div class="credits">
          
          Designed by <a href="https://www.github.com/imyogeshgaur">Yogesh Gaur</a>
        </div>
      </div>
    </footer>
  
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  

    <script src="lib/js/easing.min.js"></script>
    <script src="lib/js/hoverIntent.js"></script>
    <script src="lib/js/superfish.min.js"></script>
    <script src="lib/js/wow.min.js"></script>
    <script src="lib/js/waypoints.min.js"></script>
    <script src="lib/js/counterup.min.js"></script>
    <script src="lib/js/owl.carousel.min.js"></script>
    <script src="lib/js/isotope.pkgd.min.js"></script>
    <script src="lib/js/js/lightbox.min.js"></script>
    <script src="lib/js/jquery.touchSwipe.min.js"></script>

    <!-- Template Main Javascript File -->
    <script src="/public/js/main.js"></script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
</body>
</html>