<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Fondamento&family=Galada&family=Open+Sans&family=Oswald:wght@300&family=Roboto:ital,wght@0,100;1,400&display=swap"
    rel="stylesheet">

    <link rel="stylesheet" href="/public/css/style.css">

  <title> Contact Us</title>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">LocalIndiaShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item inactive">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item inactive">
          <a class="nav-link" href="about.html">About Us</a>
        </li>
        <li class="nav-item inactive">
          <a class="nav-link" href="products.html">Products</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 mx-2">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
      </form>
      <form class="form-inline my-2 my-lg-0 mx-2">
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#loginModal"> Log In
        </button>
      </form>
      <form class="form-inline my-2 my-lg-0 mx-2">
        <a href="signup.html">
          <button type="button" class="btn btn-outline-primary"> Sign Up </button>
        </a>
      </form>
      </form>
    </div>
  </nav>

  <!--login  modal -->
  <div class="modal fade" id="loginModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Enter Your Credentials</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="usernameModal">Username or Email address</label>
              <input type="text" class="form-control" id="usernameModal" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
              <label for="passwordModal">Password</label>
              <input type="password" class="form-control" id="passwordModal">
              <small id="passwordHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Remember Me</label>
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <section id="contact" class="resume-section p-3 p-lg-5 d-flex align-items-center">
    <div class="container">

      <div class="w-100">
        <h3 class='mb-5'>Contact Me</h3>
        <p>I am feel happy to work with your organisation. Kindly Drop the message if you like to work with me.</p>
      </div>

      <div class="row contact-info">

        <div class="col-md-4">
          <div class="contact-address">
            <i class="ion-ios-location-outline"></i>
            <h4>Address</h4>
            <a href="https://www.bing.com/maps?osid=218d3976-1988-4a45-a69b-2e9576b1b8f0&cp=28.63731~77.37714&lvl=18&v=2&sV=2&form=S00027"
              target="_blank">125-B Shipra Suncity, Indirapuram, Ghaziabad - 201014</a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-phone">
            <i class="ion-ios-telephone-outline "></i>
            <h4>Phone Number</h4>
            <p><a href="tel:+91-9868747636">+91 - 9868747636</a></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-email">
            <i class="ion-ios-email-outline"></i>
            <h4>Email</h4>
            <p><a href="yogeshgaur1995@gmail.com">yogesh.gaur@aztecsindia.com</a></p>
          </div>
        </div>

        <hr class="m-4">

      </div>
      <h3 class='mb-5 my-4'>Message Me</h3>
      <div class="form" id='messageme' style="border: 0px solid black;">
        <form action="" method="post" role="form" class="contactForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter your Name">
              <small id="emailvalid" class="form-text text-muted invalid-feedback">
                Please Enter a valid Name <br>
                This Field Is Required *
              </small>
            </div>
            <div class="form-group col-md-6 ">
              <label for="email">Email address</label>
              <input type="text" class="form-control" id="email" placeholder="Enter your email">
              <small id="emailvalid" class="form-text text-muted invalid-feedback">
                Your email must be a valid email <br>
                This Field Is Required *
              </small>
            </div>
            <div class="form-group col-md-12">
              <label for="address">Enter your address</label>
              <textarea class="form-control" name="address" id="address" rows="3"></textarea>

            </div>
            <div class="form-group col-md-6">
              <label for="address">Enter your phone number</label>
              <input class="form-control" name="phone" id="phone" rows="3">
              <small id="emailvalid" class="form-text text-muted invalid-feedback">
                Your phone number must be 10 digit long <br>
                This Field Is Required *
              </small>
            </div>
            <div class="form-group col-md-12">
              <label for="exampleFormControlTextarea1">Your Message</label>
              <textarea class="form-control" id="message" rows="3"></textarea>
              <br>
              <br>
              <div class="text-center"><button id="btn" class=" btn btn-outline-warning"
                  onclick="alert('Thank you we will help you to resolve your problem')">Send Message</button></div>
        </form>
      </div>
    </div>
  </section>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="/public/js/contact.js"></script>
</body>

</html>